In [1]:
from pyhive import hive
import sasl
import thrift
import thrift_sasl
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# System
import warnings

In [2]:
#Create Hive connection 

conn = hive.Connection(host="localhost", port=10000)

df = pd.read_sql("SELECT * FROM baci.book_ratings", conn, index_col=None, parse_dates=None)
conn.close()

/var/folders/z0/_53pqkc52j94k8cbwvw_qgf40000gn/T/ipykernel_77696/1092102592.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM baci.book_ratings", conn, index_col=None, parse_dates=None)

In [3]:
df.head()

,book_ratings.user_id,book_ratings.isbn,book_ratings.book_rating,book_ratings.book_title,book_ratings.book_author,book_ratings.year_of_publication
0,NaN,NaN,NaN,Book_Title,Book_Author,NaN
1,276725.0,NaN,0.0,Flesh Tones: A Novel,M. J. Rose,2002.0
2,276726.0,155061224.0,5.0,Rites of Passage,Judith Rae,2001.0
3,276727.0,446520802.0,0.0,The Notebook,Nicholas Sparks,1996.0
4,276729.0,NaN,3.0,Help!: Level 1,Philip Prowse,1999.0