In [1]:
#i import pandas for data anlysis and manipulations
import pandas as pd


df = pd.read_csv("Book_ratingC>400.csv")
df.head()

,user_id,book_id,bookrating,booktittle,book_author,year_of_pub,total_ratings
0,276925,0316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,1295
1,277195,0316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,1295
2,277413,0316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,1295
3,277427,0316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,1295
4,277439,0316666343,7,The Lovely Bones: A Novel,Alice Sebold,2002,1295

In [4]:
from book_recommendation_engine import recommendersystem
from test_module import main

In [5]:
main(df)

Enter 1 for similarity between two users, 2 for similarity between a user and nth users, 3 for recommendation to a target user, and 4 for evaluating the metrices : 2
please enter a userID of the target user to compute the similarity between the nth users : 277427
Number of similar users : 20
\Availabele similarity metrices to use and find n similar users to a target user are :
1: cosine
2: pearson
3: minkowski
4: spearman

please only choose a digit that represents your choice of metric
enter the similarity matric to use and find similarity blw the user and 20 other users1

the similarity between 277427 & 20 top users using cosine similarity metric are :


[276925, 7283, 48046, 49422, 55027, 93629, 111578, 114868, 170513, 179772, 194669, 218068, 227705, 229742, 231857, 235498, 236172, 237748, 244189, 254377]